:root{
    --bg: #000000;
    --text: #e6eef8;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: var(--bg);
    color: var(--text);
    min-height: -webkit-fill-available;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

a {
    color: lightblue;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.social-media a {
    display: inline-block;
    margin: 0 20px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 62.5px !important;
    font-size: 35px;
    color: black;
}

.social-media a:hover {
    background-color: gray;
}

#logo-header {
    width: 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    gap: 30px;
    background: var(--bg);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 12px
}

.nav-links {
    display: flex !important;
    gap: 12px;
    align-items: center;
}

.nav-links a {
    color: var(--muted);
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

.nav-links a:hover {
    color: var(--text);
    background: rgba(255,255,255,0.1)
}

.nav-links a.active {
    color: var(--accent);font-weight:600
}

@media (max-width:640px) {
    .nav-links {
        display: none
    }
}

footer {
    border-top: 1px solid var(--line);
    padding: 0px 0 40px;
    font-size: 13px;
    color: var(--muted);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}

.foot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
}

.footer-wrap {
    border-top: 1px solid rgba(255,255,255,0.3);
    max-width: var(--max);
    margin: 0 auto;
    padding: 0px 1rem;
    padding-top: 1rem;
}