#logo {
    margin-top: 10vh;
    max-width: 75%;
    max-height: 75%;
}

#announcement {
    text-align: center;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 0.9rem;
    width: 20rem;
    flex: 0 0 auto;
    margin-top: 10vh;
}