#logo {
    margin-top: 10vh;
    max-width: 75%;
    max-height: 75%;
}

@keyframes blink { 50% { border-color:#fff ; }  }

#announcement {
    text-align: center;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    padding: 0.9rem;
    width: 45vh;
    margin-top: 10vh;
    animation: blink 1s;
    animation-iteration-count: 5;
}
