#logo {
    margin-top: 10vh;
    max-height: 75%;
    max-width: 75%;
}

#announcement {
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    flex: 0 0 auto;
    margin-top: 10vh;
    padding: 0.9rem;
    text-align: center;
    width: 20rem;
}

main {
    justify-content: space-evenly;
    padding: 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.social-media a {
    display: inline-block;
    margin: 0 20px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 35px;
    line-height: 62.5px !important;
}

.social-media a:hover {
    background-color: gray;
}

@media (max-width: 640px) {
    :root {
        --header-h: 56px;
        --footer-h: 48px;
    }

    #announcement {
        margin-top: 0vh;
    }

    main {
        min-height: calc(100vh - var(--header-h) - var(--footer-h));
    }

    .social-media a {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 52.5px !important;
    }
}